In [30]:
library(tidyverse)

player_stats_initial <- read_csv("data")

colnames(player_stats_initial) <- make.names(colnames(player_stats_initial), unique = TRUE)

player_stats <- player_stats_initial |> filter(Active == "Yes") |> 
                                     select(Age, Seasons, Current.Elo.Rank, Prize.Money) |> 
                                     mutate(Age = as.numeric(substr(Age, 1,2))) |>
                        
player_stats_tidy

New names:
• `` -> `...1`
Rows: 500 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (25): Age, Country, Plays, Wikipedia, Current Rank, Best Rank, Name, Bac...
dbl (13): ...1, Turned Pro, Seasons, Titles, Best Season, Retired, Masters, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    Age Seasons Current.Elo.Rank
1   32  14      144 (1764)
2   21   2      NA
3   27  11      100 (1826)
4   22   5      33 (1983)
5   21   1      NA
6   25   5      189 (1602)
7   20   3      NA
8   19   3      51 (1926)
9   23   5      5 (2204)
10  28   8      NA
11  28   5      NA
12  31  14      4 (2211)
13  22   2      NA
14  20   3      61 (1899)
15  22   6      56 (1919)
16  33  14      121 (1791)
17  32  15      31 (1993)
18  30   7      NA
19  30   7      NA
20  30   3      174 (1705)
21  32  16      29 (2004)
22  21   1      NA
23  20   2      NA
24  29  11      65 (1892)
25  29  13      48 (1941)
26  25   5      134 (1773)
27  21   3      53 (1924)
28  32  13      78 (1860)
29  27  11      85 (1845)
30  23   1      NA
⋮   ⋮   ⋮       ⋮
253 23   2      NA
254 20   1      NA
255 23   2      NA
256 29  11      66 (1891)
257 27  10      108 (1813)
258 26   6      NA
259 30   9      89 (1841)
260 21   1      NA
261 34  16      81 (1856)
262 24   2      NA
263 21   1      NA
264 19   2      NA
265 35  17      63 (1894)
266 26   3      167 (1712)
267 30   8      117 (1799)
268 29  12      21 (2048)
269 24   7      95 (1836)
270 23   2      NA
271 28   3      NA
272 26   1      NA
273 27   2      NA
274 22   7      70 (1885)
275 32  11      NA
276 24   7      44 (1952)
277 24   4      186 (1627)
278 18   2      NA
279 28   7      143 (1764)
280 26   8      180 (1679)
281 20   1      NA
282 26  10      6 (2188)
    Prize.Money
1   US$3,261,567
2   $374,093
3   US$6,091,971
4   $1,517,157
5   $59,123
6   $122,734
7   US$74,927
8   US$1,893,476
9   US$ 10,507,693
10  $303,458
11  US$439,427
12  US$25,889,586  11th all-time leader in earnings
13  US$507,297
14  $1,285,541
15  US$2,722,314
16  $10,821,168
17  US$11,912,152
18  $898,701
19  $158,269
20  $631,094
21  US$13,470,614
22  $43,346
23  $127,760
24  US$4,850,190
25  $2,301,746
26  $827,193
27  $1,062,355
28  $7,114,496
29  US$4,660,132
30  $29,228
⋮   ⋮
253 $ 319,403
254 $82,547
255 $117,705
256 US$5,287,905
257 $2,940,388
258 $49,402
259 US$2,562,473
260 NA
261 US$8,480,383
262 $387,165
263 $108,282
264 US$ 178,504
265 US$ 14,773,644  41st all-time leader in earnings
266 $475,660
267 US$1,805,758
268 US$ 18,879,855  24th all-time leader in earnings
269 US$1,965,163
270 $150,833
271 US$484,561
272 $105,238
273 $310,368
274 US$3,304,117
275 $2,013,015
276 $1,703,096
277 US$414,637
278 $12,756
279 US$1,048,314
280 US$ 132,871
281 $40,724
282 $22,132,368 15th all-time leader in earnings